<div
  style="
    border: solid 1px gainsboro;
    padding: 3px;
    width: 150px;
    background-color: rgb(249, 249, 249);
    border-radius: 5px;
    box-shadow: 2px 2px;
  "
>
  @if (isNode(obj())) {
    @if (!isExpandedNode(obj())) {
      <span (click)="expandNode()">expand node</span><br />
    }
    @if (isExpandedNode(obj())) {
      <span (click)="collapseNode()">collapse node</span><br />
    }
    <span (click)="deleteNode()">delete node</span><br />
  }
  @if (isEdge(obj())) {
    <span
      ><a href="{{ getRelationshipLink() }}" target="_blank"
        >view source</a
      ></span
    ><br />
    <span (click)="deleteEdge()">delete edge</span><br />
  }
</div>
